---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | TreeBloom">
	<section>
		<h2>About TreeBloom</h2>
		<p>
			TreeBloom is dedicated to creating high-quality, educational
			software that simplifies complex tasks for teachers and students. We
			believe in the power of well-designed tools to transform the
			educational experience.
		</p>
	</section>
</BaseLayout>
