---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About | TreeBloom">
	<section>
		<h2>About <a href="/">TreeBloom</a></h2>
		<p>
			<a href="/">TreeBloom</a> is dedicated to creating high-quality software and media
			that simplifies complex tasks for teachers and students. We
			believe in the power of well-designed resources to transform the
			educational experience.
		</p>
	</section>
</BaseLayout>
