---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section>
		<h2>Welcome to TreeBloom</h2>
		<p>
			We build tools that empower educators to focus on what matters most:
			their students. Our software is designed for clarity, efficiency,
			and pedagogical impact.
		</p>
	</section>
</BaseLayout>
