---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section>
		<p>
			<a href="/">TreeBloom</a> is a teaching and learning hub created by <a href="https://www.linkedin.com/in/bertjerred/" target="_blank" rel="noopener noreferrer">Bert Jerred</a>. It will be a repository of original software and media related to education.
		</p>
		<p>
			Current featured software projects include <a href="https://chimeball.com/" target="_blank" rel="noopener noreferrer">Chime Ball for Android</a> and <a href="https://bertjerred.com/apps/you-are-here/" target="_blank" rel="noopener noreferrer">You Are Here for Android</a>, both published by Bert Jerred. Get early access and become a closed tester by following these links.
		</p>
		<p>
			Also, coming soon to the Microsoft Store, "<a href="https://treebloom.org/apps/rubric-maker/" target="_blank" rel="noopener noreferrer">Rubric Maker</a>" is a <a href="/">TreeBloom</a> original, created by Bert Jerred and published through Bert's <a href="https://muzoink.com/" target="_blank" rel="noopener noreferrer">Muzoink</a> project.
		</p>
	</section>
</BaseLayout>
